/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
// @import url(./fonts/source-sans-pro/source-sans-pro.css);
// @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Miriam+Libre:300,700,300italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:300,700,300italic,700italic);

a {
  color: #9090F1;
}
a:hover {
  color: lighten($color: #9090F1, $amount: 10%);
}

.heading1 {
  font-family: Miriam Libre;
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  color: #9090F1;
}

.subtitle {
  font-family: Miriam Libre;
  font-style: normal;
  font-weight: bold;
  font-size: 2vw;
  // line-height: 1.3vw;
  color: #25E899;
}

.kernel-slide-heading {
  text-align: center;
  margin-top: 20%;
  padding: 20px;
  // font-size: 3vw;
  // vertical-align: center;
}

.kernel-slide-contents {
  text-align: left;
  margin: 10%;
}

.content {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size:1.5vw;
  line-height: 150%;
  /* or 24px */
  color: #fff;
}

.kernel-slide-1 {
  margin-top: 25%;
  margin-left: 50%;
  text-align: left;
  .heading1 {
    line-height: 0;
    font-size: 3vw;
  }
  .subtitle {
    line-height: 1.3;
    font-size: 1.5vw;
  }
  .content {
    font-size: 1.5vw;
  }
}

.kernel-slide-moments {
  text-align: left;
  margin: 10%;
  .heading1 {
    // line-height: 0.8;
    // font-size: 1vw;
  }
  .subtitle {
    // line-height: -0.2;
    // font-size: 22px;
  }
  .content {
    font-size: 1.5vw;
  }
}
.moment {
  display: flex;
  align-items: flex-end;
  // .name {
    // margin: 35px;
  // }
  .content {
    padding: 25px;
  }
  .right {
    text-align: right;
  }
  // justify-content: space-around;
}
.up {
  align-items: flex-start;
}
.no-space {
  .name {
    padding: 5px;
  }
  .content {
    padding: 5px;
  }
}
.ask {
  .ask-author {
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    color: #25E899;
  }
  .ask-author-email {
    font-style: italic;
    line-height: -1;
    color: #676868; 
  }
  display: flex;
  // flex-basis: 2%;
  // flex-wrap: wrap-reverse; 
  align-items: flex-start;
  .content {
    padding: 5px;
    font-size: 1.5vw;
  }
}


body {
  background-color: #444;
}

#wrapper {
  margin-left: 5%;
  display: flex;
}

.image {
  // position: relative;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-size: contain;
}

.img1 {
  -webkit-animation: appear 0.5s;
  animation: appear 0.5s;
  background-color: pink;
  // position: relative;
  background-image: url("../../../images/writers/vivek.png");
}

.img2 {
  -webkit-animation: appear 1.5s;
  animation: appear 1.5s;
  background-color: orange;
  background-image: url("../../../images/writers/sachin.jpeg");
}

.img3 {
  -webkit-animation: appear 2s;
  animation: appear 2s;
  background-color: gold;
  background-image: url("../../../images/writers/andy.jpg");
}

.img4 {
  -webkit-animation: appear 2.5s;
  animation: appear 2.5s;
  background-color: lightgreen;
  background-image: url("../../../images/writers/angela.jpeg");
}

/* Chrome, Safari, Opera */
@-webkit-keyframes appear {
    0%   {opacity: 0; margin-left: -25%;}
    100% {opacity: 1;}
}

/* IE */
@keyframes appear {
    0%   {opacity: 0; margin-left: -25%;}
    100% {opacity: 1;}
}

.img1 {
  z-index: 1;
  // margin-left: 90px;
}
.img2 {
  z-index: 2;
  // margin-left: 100px;
  // margin-top: 100px;
}

.img3 {
  z-index: 3;
  // margin-left: 110px;
  // margin-top: 100px;
}

.img4 {
  z-index: 4;
  // margin-left: 120px;
  // margin-top: 100px;
}

.img5 {
  z-index: 5;
  // margin-left: 130px;
  // margin-top: 400px;
}

// .img1:hover{
//   z-index:10;
// }
// .img2:hover{
//   z-index:9;
// }
// .img3:hover{
//   z-index:8;
// }
// .img4:hover{
//   z-index: 7;
// }
// .img5:hover{
//   z-index: 6;
// }

.img1, .img2, .img3, .img4, .img5 {
  transition: all 1s;
}